<!DOCTYPE html>
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <app-topborder></app-topborder>
            <app-logoborder></app-logoborder>
            <app-navigborder></app-navigborder>
        </div>
    </div>
    <!-- Header End -->
</header>
<app-home *ngIf="showDefaultMessage" (activate)="toggleDefaultMessage(false)"></app-home>
<router-outlet (activate)="toggleDefaultMessage(false)"></router-outlet>
<app-footborder></app-footborder>