<nav>
    <ul class="list-unstyled">
        <li>
            <h5>Dashboard</h5>
            <hr>
        </li>
        <li>
            <a routerLink="create-student">Create student</a>
            <hr>
        </li>
        <li>
            <a routerLink="student-list">Student list</a>
            <hr>
        </li>
        <li>
            <a routerLink="attendance">Attendance</a>
            <hr>
        </li>
        <li>
            <a routerLink="attendance-report">Attendance report</a>
            <hr>
        </li>

    </ul>
</nav>